
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Crete_Round/CreteRound-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Crete_Round/CreteRound-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Crete_Round/CreteRound-Italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Crete_Round/CreteRound-Italic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Lato/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Italic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway/raleway-light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/raleway-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/raleway-light.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Raleway/raleway-light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway/raleway-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/raleway-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/raleway-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Raleway/raleway-regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Raleway/raleway-medium.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/raleway-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/raleway-medium.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Raleway/raleway-medium.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Raleway/raleway-semibold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/raleway-semibold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Raleway/raleway-semibold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Raleway/raleway-bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Raleway/raleway-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Raleway/raleway-bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Raleway/raleway-bold.ttf') format('truetype'); 
}