
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Lato/Lato-Hairline.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Hairline.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Lato/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Lato/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Lato/Lato-Black.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Black.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Black.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/Lato/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-HairlineItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Lato/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-LightItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Lato/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-Italic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/Lato/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Lato/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Lato/Lato-BlackItalic.ttf') format('truetype'); 
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Open_Sans/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Open_Sans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Open_Sans/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Open_Sans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Open_Sans/OpenSans-Extrabold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Extrabold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Extrabold.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Open_Sans/OpenSans-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Open_Sans/OpenSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-Italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/Open_Sans/OpenSans-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-SemiboldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Open_Sans/OpenSans-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/Open_Sans/OpenSans-ExtraboldItalic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Open_Sans/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Open_Sans/OpenSans-ExtraboldItalic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Open_Sans/OpenSans-ExtraboldItalic.ttf') format('truetype'); 
}
