.print #main-content{
    margin-left: 0;
}

#main-content {
    margin-left: 0;
    width: 100%;
    margin-top: 0px;
    padding: 0;
}

.wrapper {
    margin-top:0px ;
}

.invoice-to h2, .invoice-to {
    margin-top: 15px;
}

.invoice-header {
    margin-bottom: 10px;
}

.invoice-title {
    background: none;
    padding: 0;
}

.invoice-title h1 {
    font-size: 22px;
    color: #252f41;
    margin-top: 30px;
    float: left;
}

h1 {
    font-size: 20px;
}
h3 {
    font-size: 15px;
}

.inv-label {
    margin: 0;
}

ul.amounts li {
    padding: 3px;
}

.table-invoice {
    margin-top: 10px;
}

.table {
    margin-bottom: 5px;
}

.invoice-info p {
    font-size: 10px;
    line-height: normal;
}

.logo-print {
    float: right;
    margin:-35px 0 0 250px;
}

.invoice-header {
    border: none;
}

