/*csslint empty-rules: false, important: false, import:false, floats:false, adjoining-classes:false, box-sizing:false, zero-units:false, ids:false, vendor-prefix:false, overqualified-elements:false, qualified-headings:false, rules-count:false, box-model:false, outline-none:false, fallback-colors:false, universal-selector:false, unique-headings:false, duplicate-background-images:false, text-indent:false*/
h2 {
  height:auto;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.login-logo {
  width:120px; 
  height:auto; 
  margin-top: 20px;
}
.login-body {
  margin-top: 0 !important;
}
.form-signin {
  width: auto;
  max-width: none;
  margin: 20px 0;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.login-box .form-signin {
  width: 280px;
}
.login-box .btn-register {
  background-color: #fff;
  color: #666;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  position: relative;
  padding: 0;
  padding-left: 60px;
}
.login-box .btn-register.org {

}
.login-box .btn-register.ind {
  
}
.login-box .btn-register:before {
  font-family: "FontAwesome";
  display: inline-block;
  padding: 0 20px;
  position: absolute;
  left: 0;
  width: 60px;
}
.login-box .btn-register.org:before {
  content: '\f0c0';
}
.login-box .btn-register.ind:before {
  content: '\f007';
}
.login-box .btn-register:hover,
.login-box .btn-register:focus,
.login-box .btn-register:active {
  color: #000;
  text-decoration: none;
}
.user-login-info {
  margin-bottom: 0;
}
.account-container {
  margin-top: 20px;
}
.account-container .info {
  margin-top: 20px;
}
.register-header h2, .register-header h3, .register-header h4 {
  margin: 5px 0;
}
.remember-container {
  margin: 0;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login-box .form-signin {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  
}