/*csslint empty-rules: false, important: false, import:false, floats:false, adjoining-classes:false, box-sizing:false, zero-units:false, ids:false, vendor-prefix:false, overqualified-elements:false, qualified-headings:false, rules-count:false, box-model:false, outline-none:false, fallback-colors:false, universal-selector:false, unique-headings:false, duplicate-background-images:false, text-indent:false*/
.margin-top-5 {
  margin-top: 5px;
}
.padding-left-0 {
  padding-left: 0;
}
.margin-0 {
  margin: 0;
}
.grey-text {
  color: #a6a6a6;
}
.red-text {
  color: red;
}
.wrapper {
  padding: 20px;
  margin-top: 0;
}
a.logo img {width:auto; height:22px;}
.login-body {
  background-color:#f1f2f7;
}
.registration,
.form-signin .checkbox {
  color: #666;
  font-weight: normal;
}
.header {
  position: static !important;
}
.brand,
#sidebar {
  background-color: #fff;
}
#sidebar {
  position: static;
  float: left;
  min-height: 1000px;
}
#sidebar.affix {
  position: fixed;
  top: 0;
}
.main-content {
  float: left;
}
ul.sidebar-menu {
  padding-top: 0;
}
ul.sidebar-menu li ul.sub li a:hover, 
ul.sidebar-menu li ul.sub li.active a,
ul.sidebar-menu li ul.sub li a,
ul.sidebar-menu li a {
  color: #666;
}
ul.sidebar-menu li ul.sub li {
  background-color: #f1f2f7;
}
ul.sidebar-menu li ul.sub li a:hover, 
ul.sidebar-menu li ul.sub li.active a,
ul.sidebar-menu li a.active, 
ul.sidebar-menu li a:focus, 
ul.sidebar-menu li a:hover {
  color: #000;
  background-color: #f1f2f7;
}
ul.sidebar-menu li a:focus i, 
ul.sidebar-menu li a:hover i {
  color: #000;
}
ul.sidebar-menu li a.active,
ul.sidebar-menu li a.active i {
  color: #000;
}
.dataTables_length label,.dataTables_filter label {
  font-weight:400;
}
.panel-heading {
  font-weight: 600;
  font-size: 14px;
}
table.dataTable.table-striped tr.odd.gradeA td.sorting_1,
table.dataTable.table-striped tr.odd td.sorting_1,
table.dataTable.table-striped tr.even.gradeA td.sorting_1 {
  background-color: #f9f9f9;
}
.adv-table .dataTables_length select {
  width:auto;
}
.adv-table .dataTables_length select.form-control {
  height: 34px;
}
.dataTables_processing {
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 200;
  width: 160px;
  height: auto;
  margin-left: -80px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  opacity: 0.8;
}
.dataTables_length {
  width: 40%;
  float: left;
}
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}
.dataTable tbody > tr > td.title {
  vertical-align: middle;
}
.dataTable tbody > tr > td.title img {
  float: left;
  margin-right: 10px;
  width: 72px;
  height: auto;
}
.dataTable tbody > tr > td .published_start_date {
  display: inline-block;
  margin-bottom: 5px;
}
.dataTable tbody > tr > td .status-published {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #A9D86E;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.dataTable tbody > tr > td .status-overdue {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FF6C60;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.dataTable tbody > tr > td .status-upcoming {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FCB322;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
.dataTable tbody > tr > td .status-notapproved {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #252f41;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}
/*switch btn*/
.has-switch span.switch-left,
.has-switch span.switch-right {
  /*border-radius:40px;
  -webkit-border-radius: 40px;*/
  border-radius: 0;
  width: 33px;
  /*font-weight: bold;*/
  text-transform: uppercase;
}
.has-switch span.switch-left {
  border-radius: 3px 0 0 3px;
}
.has-switch span.switch-right {
  border-radius: 0 3px 3px 0;
}
.has-switch { 
  border-radius: 4px;
  width: 68px;
  min-width: 0;
}
.has-switch label.switch-mini {
  width: 33px;
}
.has-switch label,
.has-switch span {
  width: auto
}
/*gallery, media gallery*/
.media-filter {
  float: left;
  margin: 10px 0;
  padding-left: 0;
}
.media-filter li{
  float: left;
  margin-right: 10px;
  list-style: none;
}
.media-filter li a{
  background: #e6e6e6;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.media-filter li a:hover, .media-filter li a:focus{
  background: #20c3b2;
  color: #fff;
}
.media-gal {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.media-gal .item {
  float: left;
}
.media-gal .item {
  margin-bottom: 1%;
  margin-right: 1%;
  width: 233px;
  padding: 10px;
  border: 1px solid #ddd;
  opacity: 1;
}
.media-gal .item {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.media-gal .item .tool-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /*height: 221px;*/
}
.media-gal .item .tool-overlay .icheck {
  position: absolute;
  top: 0;
  right: 0;
}
.media-gal .item .tool-overlay .checkbox {
  margin-right: 0;
}
.media-gal .item p {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.media-gal .item a.file-action,
.media-gal .item a.overlay-action {
  display: block;
  width: 100%;
  height: 100%;
}
.media-gal .item a.file-action {
  height: 211px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.media-gal .item a.overlay-action {

}
.media-gal .item.audio a,
.media-gal .item.video a,
.media-gal .item.documents a,
.media-gal .item.folder a {
  background-size: auto;
}
.img-modal img{
  width: 100%;
  margin-bottom: 10px;
}
/* media gallery - custom */
.add-folder-modal {
  position: absolute;
  padding: 10px;
  background-color: #FAFAFA;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
}
.add-folder-modal {
  width: 300px;
}
.add-folder-modal #inputFolderName {
  width: 210px;
}
.add-folder-modal button[type="submit"] {
  width: 56px;
}
.media-gal .editable-buttons .btn.btn-xs {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* darktooltip */
.darktooltip-no, 
.darktooltip-yes {
  cursor: pointer;
}
.dark-tooltip {
  z-index: 1060;
  max-width: 250px !important;
}
.dark-tooltip ul {
  padding-left: 0;
}
/* custom: detech changes input */
.detect-changes {
  position: relative;
}
.detect-changes .changed-info {
  display: none;
  position: absolute;
  top: 6px;
  right: 12px;
}
.detect-changes.changed input[type="text"] {
  border-color: #a94442;
  padding-right: 75px;
}
.detect-changes.changed .changed-info {
  display: block;
}
/* block ui */
.blockUI.blockMsg.blockElement {
  top: 10px !important;
  border-radius: 4px !important;
  margin: 0 !important;
  border: none !important;
  background-color: #000 !important;
  width: auto !important;
  padding: 5px 20px !important;
}
.blockUI.blockMsg.blockElement h1 {
  margin: 10px 0;
  font-size: 16px;
}
.blockUI.blockMsg.blockElement h4 {
  margin: 10px 0;
  font-size: 14px;
}
.blockUI.blockMsg.blockElement,
.blockUI.blockMsg.blockElement * {
  color: #fff;
}
/* editable */
.editable-buttons {
  margin-left: 4px !important;
}
.editable-buttons .editable-cancel {
  margin-left: 4px !important;
}
.editable-input input[type="text"],
.editable-input textarea {
  width: 150px !important;
}
.editable-container.popover {
  padding: 0;
}
.editable-container.popover .popover-content {
  padding: 5px;
}
.editable-error-block {
  max-width: 200px !important;
}
/* fileupload */
.template-download .preview img {
  width: 80px;
  height: auto;
}
.btn-primary-original {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary-original:hover, 
.btn-primary-original:focus {
  color: #fff;
}
.btn-default-original {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-inverse-original {
  color: #fff;
  background-color: #333;
  border-color: #ccc;
}
/*table*/
.table-filters-area {
  margin-top: 15px;
}
.table-filters-area .form-group {
  float: left;
  padding-right: 15px;
}
/*form*/
.form-horizontal .control-label {
  font-weight: 700;
  font-size: 14px;
}
.simple-form small {
  margin: 0;
}
input.ng-invalid,
input.ng-invalid:focus {
  border-color: #a94442;
}
form:not(.ng-submitted) input.ng-pristine.ng-untouched {
  border-color: #e2e2e4;
}
form label.error {
  color: #a94442;
}
form input.error:focus,
form textarea.error:focus {
  border-color: #a94442 !important;
}
/*list*/
.list-area-loader {
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
/*login*/
.form-signin .btn-login {
  font-weight: 400;
}
.form-signin p {
  font-weight: 400;
}
/**/
.highlight {
  padding: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}
/*avatar*/
.avatar-mini {
  width: 33px;
  height: 33px;
}
.fileupload .thumbnail>img {
  display: block;
}
.upload-posting-photo .fileupload .fileupload-new.thumbnail,
.upload-posting-photo .fileupload .fileupload-preview.fileupload-exists.thumbnail {
  float: left;
  margin-right: 10px;
}
.upload-avatar .fileupload .fileupload-new.thumbnail,
.upload-avatar .fileupload .fileupload-preview.fileupload-exists.thumbnail {
  float: left;
  margin-right: 10px;
}
.upload-cover-image .fileupload .fileupload-new.thumbnail,
.upload-cover-image .fileupload .fileupload-preview.fileupload-exists.thumbnail {
  width: 370px !important;
  /*height: 216px !important;*/
  height: auto !important;
  /*overflow: hidden;*/
}
.upload-cover-image .fileupload .fileupload-new.thumbnail img,
.upload-cover-image .fileupload .fileupload-preview.fileupload-exists.thumbnail img {
  width: 100%;
  height: auto;
}
.fileupload-buttonbar .fileinput-button.btn-success {
  background-color: #95b75d;
  border-color: #95b75d;
  color: #FFF;
}
/*profile*/
.section {
  margin-bottom: 40px;
}
.section-title {
  font-size: 16px;
  border-bottom: solid 1px #000;
  margin-bottom: 20px;
}
.form-profile .icheck .disabled, 
.form-profile .icheck div[class^="icheckbox_"],
.form-profile .icheck div[class^="iradio_"] {
  float: none;
  display: inline-block;
  vertical-align: middle;
  /*margin-left: 10px;*/
  margin-right: 0px;
}
.submit-profile {
  width: 20%;
}
div.iradio_flat-green + label,
div.icheck_flat-green + label {
  line-height: 20px;
}
/*left-nav*/
.leftside-navigation .sidebar-menu>.sub-menu>.sub {
  height: auto;
  display: none;
}
ul.sidebar-menu li a span.dcjq-icon {
  display: none !important;
}
a.sidebar-link-special1 {
  display: inline-block !important;
}
a.sidebar-link-special1 > i,
a.sidebar-link-special1 > span {
  display: table-cell !important;
}
/*etc*/
a.resend-verification {
  color: #a94442 !important;
  /*font-weight: bold;*/
  /*text-decoration: underline;*/
}
.manage-filters ul.filter-list {
  padding: 0;
}
.manage-filters ul.filter-list li {
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  position: relative;
  list-style: none;
  background-color: #f8f9fa;
}
.manage-filters ul.filter-list li div.pull-left {
  width: 80%;
}
.manage-filters ul.filter-list li a {
  display: inline-block;
  vertical-align: middle;
}
.manage-filters ul.filter-list li a.close {
  font-size: 13px;
  opacity: 1 !important;
}
.platform-list {
  padding: 0;
}
.platform-list li {
  padding: 10px 0;
  border-top: solid 1px #eee;
}
.platform-list li strong {
  display: inline-block;
  margin-left: 10px;
}
.dashboard-container .panel-body .count {
  font-size: 3em;
}
.dashboard-container .panel-body p {
  border-top: dotted 1px #ccc;
}

.photo-note {
  display:inline-block; 
  line-height: 0;
  padding: 10px;
  margin-bottom: 5px;
}

.pilot-phase-info {
  position: fixed;
  width: 70%;
  z-index: 10000000;
  top: 0;
  display: none;
  opacity: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform:    translateX(-50%);
  -ms-transform:     translateX(-50%);
  -o-transform:      translateX(-50%);
  transform:         translateX(-50%);
}
/*.pilot-phase-info .alert {
  display: block;
  width: 80%;
  margin: 0 auto;
}*/
tr.new-account td {
  background-color: #fcf8e3 !important;
}
tr.new-account td.title span.label {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
}

.manage-platforms .popover-title {
  color: #767676;
  text-transform: none;
}